* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainHead {
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.containerDiv {
    height: 450px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.formDiv {
    width: 40%;
    position: sticky;
    top: 0;
    background: white;
    padding: 10px;
    z-index: 10;
}

.info {
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid rgb(133, 122, 122);
}


.tableDiv {
    height: 100%;
    margin-top: 10px;
    width: 55%;
    overflow-y: auto;
}

.tablerow {
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: rgb(182, 182, 182);
    z-index: 10;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.datarow {
    width: 100%;
    margin-left: 0px;

}

.BTN {
    border: none;
    outline: none;
    background-color: transparent;
}

.clone:hover {
    color: rgb(255, 255, 255);
}

.edit:hover {
    color: rgb(255, 255, 255);
}

.delete:hover {
    color: red;
}