* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainHead {
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.containerDiv{
margin: 50px;
display: flex;
justify-content:space-between;

}

.formDiv{
width: 40%;
}

.info{
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px 10px;
    border:2px solid rgb(133, 122, 122);
}


.tableDiv{
width: 55%;
}

.tablerow{
    width: 100%;
    background-color: rgb(182, 182, 182);
}

.datarow{
    width: 100%;
}

.BTN{
    border: none;
    outline: none;
    background-color:transparent;
}

.clone:hover{
    color: rgb(255, 255, 255);
}

.edit:hover{
    color: rgb(255, 255, 255);
}

.delete:hover{
    color: red;
}