* {
  behavior: smooth;
}

.click {
  background-color: blue;
  color: white;
  padding: 5px;
  width: 100px;
  margin: 10px;
}

#container {
  background-color: green;
  color: white;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.box {
  background-color: blue;
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.box {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.3s;
}

.box.active {
  border: 3px solid black;
}

#result {
  font-weight: bold;
}

.border {
  border: 5px solid black;
}

#result {
  margin: 10px;
}
